doctype html
html(lang='ru')
    head
        meta(charset='utf-8')
        meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
        meta(name='description', content='')
        meta(name='author', content='')
        title О компании
        link(rel='icon', type='image/x-icon', href='assets/favicon.ico')
        include includes/css.pug
    body.d-flex.flex-column
        main.flex-shrink-0

            include includes/navbar.pug

            section.container.py-5
                div.carousel.slide(id="carouselExample")
                    div.carousel-inner
                        div.carousel-item.active
                            img.d-block.w-100(src="https://dummyimage.com/1320x500/343a40/6c757d")
                            div.carousel-caption.d-none.d-md-block
                                p Слайд с подписью
                    button.carousel-control-prev(type="button" data-bs-target="#carouselExample" data-bs-slide="prev")
                        span.carousel-control-prev-icon(aria-hidden="true")
                        span.visually-hidden Влево

                    button.carousel-control-next(type="button" data-bs-target="#carouselExample" data-bs-slide="next")
                        span.carousel-control-next-icon(aria-hidden="true")
                        span.visually-hidden Вправо



            section.container.py-5 
                div.row.flex-lg-row-reverse.align-items-center.g-5.py-5
                    div.col-10.col-sm-8.col-lg-6
                        img(src="https://dummyimage.com/600x300/343a40/6c757d").d-block.mx-lg-auto.img-fluid
                    div.col-lg-6
                        h1.display-5.fw-bold.text-body-emphasis.lh-1.mb-3 Заголовок и текст
                        p.lead Текстовое содержимое для блока лучше всего сделать строки на три-четыре, так оно визуально более приятно. Ну либо играться с высотой изображения справа, но зачем, если нетрудно наколбасить букв




            section.container.py-5 
               div.row.row-cols-1.row-cols-sm-2.row-cols-md-3.g-3
                    div.col
                       div.card.shadow-sm
                            img.bd-placeholder-img.card-img-top(src="https://dummyimage.com/420x225/343a40/6c757d")
                            div.card-body
                                h5.card-title Короткий Заголовок
                                p.card-text Одинаковые блоки, подойдут для вывода каких-то услуг с кратким описанием           
                    div.col
                       div.card.shadow-sm
                            img.bd-placeholder-img.card-img-top(src="https://dummyimage.com/420x225/343a40/6c757d")
                            div.card-body
                                h5.card-title Короткий Заголовок
                                p.card-text Одинаковые блоки, подойдут для вывода каких-то услуг с кратким описанием           
                    div.col
                       div.card.shadow-sm
                            img.bd-placeholder-img.card-img-top(src="https://dummyimage.com/420x225/343a40/6c757d")
                            div.card-body
                                h5.card-title Короткий Заголовок
                                p.card-text Одинаковые блоки, подойдут для вывода каких-то услуг с кратким описанием        

            // Team members section
            section.py-5.bg-light
                .container.px-5.my-5
                    .text-center
                        h2.fw-bolder А вот и они
                        p.lead.fw-normal.text-muted.mb-5 Крестом и пестом уговорили сфоткаться четверых
                    .row.gx-5.row-cols-1.row-cols-sm-2.row-cols-xl-4.justify-content-center
                        .col.mb-5.mb-5.mb-xl-0
                            .text-center
                                img.img-fluid.rounded-circle.mb-4.px-4(src='https://dummyimage.com/150x150/ced4da/6c757d', alt='...')
                                h5.fw-bolder Ibbie Eckart
                                .fst-italic.text-muted Founder &amp; CEO
                        .col.mb-5.mb-5.mb-xl-0
                            .text-center
                                img.img-fluid.rounded-circle.mb-4.px-4(src='https://dummyimage.com/150x150/ced4da/6c757d', alt='...')
                                h5.fw-bolder Arden Vasek
                                .fst-italic.text-muted CFO
                        .col.mb-5.mb-5.mb-sm-0
                            .text-center
                                img.img-fluid.rounded-circle.mb-4.px-4(src='https://dummyimage.com/150x150/ced4da/6c757d', alt='...')
                                h5.fw-bolder Toribio Nerthus
                                .fst-italic.text-muted Operations Manager
                        .col.mb-5
                            .text-center
                                img.img-fluid.rounded-circle.mb-4.px-4(src='https://dummyimage.com/150x150/ced4da/6c757d', alt='...')
                                h5.fw-bolder Malvina Cilla
                                .fst-italic.text-muted CTO

        // Footer
        include includes/footer.pug

        include includes/scripts.pug
