doctype html
html(lang='ru')
    head
        meta(charset='utf-8')
        meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
        meta(name='description', content='')
        meta(name='author', content='')
        title Каталог
        link(rel='icon', type='image/x-icon', href='assets/favicon.ico')
        include includes/css.pug
    body.d-flex.flex-column
        main.flex-shrink-0
            include includes/navbar.pug

            section.container.px-5
                .row
                    aside.sidebar.border.border-right.col-md-3.col-lg-2.p-0.bg-body-tertiary.py-3
                        h3.h6.fs-6.p-3 Разделы каталога
                        ul.nav.flex-column
                            li.nav-item
                                a.nav-link.d-flex.align-items-center(href='#') Продукты
                            li.nav-item
                                a.nav-link.d-flex.align-items-center(href='#') Продукты
                    div.col-md-9.ms-sm-auto.col-lg-10.py-3       
                        section
                            .container.px-4.px-lg-5.mt-3
                                h1.pb-4 Каталог продукции
                                .row.py-2.gx-4.gx-lg-5.row-cols-1.row-cols-md-2.row-cols-xl-3.justify-content-center
                                    .col.mb-5.col-12
                                        .card.h-100
                                            img.card-img-top(src='https://dummyimage.com/450x300/dee2e6/6c757d.jpg', alt='...')
                                            .card-body.p-4
                                                .text-center
                                                    h5.fw-bolder Гайка М6
                                                    div.price.text-muted 1000 руб
                                            .card-footer.p-4.pt-0.border-top-0.bg-transparent
                                                .text-center
                                                    a.stretched-link.btn.btn-outline-dark.mt-auto(href='catalog-item.html') Подробнее
                                    .col.mb-5.col-12
                                        .card.h-100
                                            img.card-img-top(src='https://dummyimage.com/450x300/dee2e6/6c757d.jpg', alt='...')
                                            .card-body.p-4
                                                .text-center
                                                    h5.fw-bolder Гайка М6
                                                    div.price.text-muted 1000 руб
                                            .card-footer.p-4.pt-0.border-top-0.bg-transparent
                                                .text-center
                                                    a.stretched-link.btn.btn-outline-dark.mt-auto(href='catalog-item.html') Подробнее

                                    .col.mb-5.col-12
                                        .card.h-100
                                            img.card-img-top(src='https://dummyimage.com/450x300/dee2e6/6c757d.jpg', alt='...')
                                            .card-body.p-4
                                                .text-center
                                                    h5.fw-bolder Гайка М6
                                                    div.price.text-muted 1000 руб
                                            .card-footer.p-4.pt-0.border-top-0.bg-transparent
                                                .text-center
                                                    a.stretched-link.btn.btn-outline-dark.mt-auto(href='catalog-item.html') Подробнее

                                    .col.mb-5.col-12
                                        .card.h-100
                                            img.card-img-top(src='https://dummyimage.com/450x300/dee2e6/6c757d.jpg', alt='...')
                                            .card-body.p-4
                                                .text-center
                                                    h5.fw-bolder Гайка М6
                                                    div.price.text-muted 1000 руб
                                            .card-footer.p-4.pt-0.border-top-0.bg-transparent
                                                .text-center
                                                    a.stretched-link.btn.btn-outline-dark.mt-auto(href='catalog-item.html') Подробнее
                                    .col.mb-5.col-12
                                        .card.h-100
                                            img.card-img-top(src='https://dummyimage.com/450x300/dee2e6/6c757d.jpg', alt='...')
                                            .card-body.p-4
                                                .text-center
                                                    h5.fw-bolder Гайка М6
                                                    div.price.text-muted 1000 руб
                                            .card-footer.p-4.pt-0.border-top-0.bg-transparent
                                                .text-center
                                                    a.stretched-link.btn.btn-outline-dark.mt-auto(href='catalog-item.html') Подробнее


                                    .col.mb-5.col-12
                                        .card.h-100
                                            img.card-img-top(src='https://dummyimage.com/450x300/dee2e6/6c757d.jpg', alt='...')
                                            .card-body.p-4
                                                .text-center
                                                    h5.fw-bolder Гайка М6
                                                    div.price.text-muted 1000 руб
                                            .card-footer.p-4.pt-0.border-top-0.bg-transparent
                                                .text-center
                                                    a.stretched-link.btn.btn-outline-dark.mt-auto(href='catalog-item.html') Подробнее












                                .row.py-2.gx-5
                                    nav
                                        ul.pagination.justify-content-center
                                            li.page-item 
                                                a.page-link(href='news-one.html') 1
                                            li.page-item 
                                                span.page-link.active(href='news-one.html') 2
                                            li.page-item 
                                                a.page-link(href='news-one.html') 3

        include includes/footer.pug
        include includes/scripts.pug