doctype html
html(lang='ru')

    head

        meta(charset='utf-8')
        meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
        meta(name='description', content='')
        meta(name='author', content='')

        title Одинокая новость

        // Favicon
        link(rel='icon', type='image/x-icon', href='assets/favicon.ico')

        include includes/css.pug

    body.d-flex.flex-column

        main.flex-shrink-0

            // Navigation
            include includes/navbar.pug

            // Page Content
            section.py-5
                .container.px-5.my-5

                    .row.gx-5

                        .col-lg-3

                        .col-lg-9

                            // Post content
                            article

                                // Post header
                                header.mb-4

                                    // Post title
                                    h1.fw-bolder.mb-1 Одинокая новость и её заголовок

                                    // Post meta content
                                    .text-muted.fst-italic.mb-2 January 1, 2023

                                // Preview image figure
                                figure.mb-4
                                    img.img-fluid.rounded(src='https://dummyimage.com/900x400/ced4da/6c757d.jpg', alt='...')

                                // Post content
                                section.mb-5
                                    p Мы рады сообщить об открытии компании "Компания" и начале нашей миссии по обеспечению населения качественными болтиками и гаечками.
                                    p С момента зарождения идеи мы стремились предложить  клиентам самый широкий ассортимент крепежных изделий и инструментов, который бы отвечал высоким стандартам качества и предпочтениям различных потребителей. Мы гордимся тем, что уже завоевали доверие  клиентов благодаря конкурентоспособным ценам и внимательному обслуживанию.
 
            //  Relateive news
            section.py-5
                .container.px-5
                    h2.fw-bolder.fs-5.mb-4 Ещё новости
                    .row.gx-5
                        .col-lg-4.mb-5
                            .card.h-100.shadow.border-0
                                img.card-img-top(src='https://dummyimage.com/600x350/ced4da/6c757d', alt='...')
                                .card-body.p-4
                                    a.text-decoration-none.link-dark.stretched-link(href='news-one.html')
                                        .h5.card-title.mb-3 Мы открылись
                                    p.card-text.mb-0
                                        | Обеспечим население доступными и качественными болтиками и гаечками
                                .card-footer.p-4.pt-0.bg-transparent.border-top-0
                                    .d-flex.align-items-end.justify-content-between
                                        .d-flex.align-items-center
                                            .small
                                                .text-muted March 12, 2023 &middot; 6 min read
                        .col-lg-4.mb-5
                            .card.h-100.shadow.border-0
                                img.card-img-top(src='https://dummyimage.com/600x350/adb5bd/495057', alt='...')
                                .card-body.p-4
                                    a.text-decoration-none.link-dark.stretched-link(href='news-one.html')
                                        .h5.card-title.mb-3 Мы немного поработали
                                    p.card-text.mb-0
                                        | Успешная работа компании по продаже болтиков и гаечек способствует развитию местной экономики
                                .card-footer.p-4.pt-0.bg-transparent.border-top-0
                                    .d-flex.align-items-end.justify-content-between
                                        .d-flex.align-items-center
                                            .small
                                                .text-muted March 12, 2023 &middot; 6 min read
                        .col-lg-4.mb-5
                            .card.h-100.shadow.border-0
                                img.card-img-top(src='https://dummyimage.com/600x350/6c757d/343a40', alt='...')
                                .card-body.p-4
                                    a.text-decoration-none.link-dark.stretched-link(href='news-one.html')
                                        .h5.card-title.mb-3 Мы закрылись
                                    p.card-text.mb-0
                                        | Гудит, как улей, родной завод.
                                .card-footer.p-4.pt-0.bg-transparent.border-top-0
                                    .d-flex.align-items-end.justify-content-between
                                        .d-flex.align-items-center
                                            .small
                                                .text-muted March 12, 2023 &middot; 6 min read

        include includes/footer.pug

        include includes/scripts.pug
